<div class="intro-section" id="home-section">

    <div class="slide-1"   data-stellar-background-ratio="0.5">
      <div class="container">  
        <div class="row align-items-center">
          <div class="col-12">
            <div class="row align-items-center">
              <div class="col-lg-7 mb-4">
                <h1 data-aos="fade-up" data-aos-delay="100">Sign Up if you do not have a account</h1>
               
                <p data-aos="fade-up" data-aos-delay="300"> 
                    <a  class="btn btn-primary py-3 px-5 btn-pill" [routerLink]="['../signup']">Sign Up</a>
                  </p>
                 
                  
              </div>

              <div class="col-lg-5 ml-auto " data-aos="fade-up" data-aos-delay="500" >
                 
                
                <form action="" method="post" class="form-box "  >
                    <div class="form-group"> 
                        <h4    >  Login to your account</h4>
                            </div>
                    <div class="rightsidebar" style=" min-height: 190px;" >
                      
                        <small style="color: red;" [hidden]="errorMessage==''" >{{errorMessage}}</small> 
                        <small style="color: green;" [hidden]="successMessage==''">{{successMessage}}</small> 
                  <div  >
                     
                       
                  <div class="form-group">
                    <input type="text" class="form-control" #useremail placeholder="Your Email Addresss" id="useremail">
                  </div>
                  <div class="form-group">
                   
                    <input type="password" class="form-control"   #userpassword placeholder="Your Password" id="userpassword">
                    
                  </div>
                   
                </div>
                 
                   

                 

                   
                  <div class="form-group" >
                      <button type="button"    class="btn btn-black "  [disabled]="loginActionStart" (click)="loginFunction(useremail,userpassword)">Login</button>
                        <a  class="btn btn-black float-right" style="background-color: white;color:black" [routerLink]="['../forgetpassword']">Forget Password</a>
                    
                             
                   </div>  
                   
                     
                   

                   </div>
                </form>
                 
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>